ion-tabs {
    top: 56px;
    height: calc(100% - 56px)
}

ion-label {
    font-size: larger !important;
}

ion-item {
    background-color: color($colors, background-color) !important;
}

.toolbar-background {
  background: color($colors, dark);
}

.scroll-content {
    background: #eeeeee;
    overflow: hidden;
}

.tabbar {
  background: color($colors, dark) !important;
}

.tab-button-icon {
    color: color($colors, terciary) !important;
}

.tab-button-text {
    color: color($colors, terciary) !important;
}

.tab-button[aria-selected="true"] .tab-button-icon, .tab-button[aria-selected="true"] .tab-button-text {
    color: color($colors, light) !important;
}

.toolbar-title {
    color: color($colors, background-color) !important;
}

.inline-block {
    display: inline-block;
}

.font-size-1-5-rem {
    font-size: 1.5rem !important;
}

.margin-10-pr {
  margin: 10%;
}

.margin-left-5-pr {
    margin-left: 5%;
}

.margin-5-pr {
    margin: 5%;
}

.text-input {
    text-align: center;
}

.text-align-center {
    text-align: center;
}

.w-100 {
    width: 100%;
}

.padding-5 {
    padding: 5px;
}

.bold {
    font-weight: bold !important;
}