<ion-content>
  <h2 class="margin-left-5-pr">Códigos</h2>
  <div class="margin-10-pr" *ngIf="currentCode == null">
    <form #codeForm="ngForm">
      <ion-label color="primary" stacked>Código:</ion-label>
      <ion-input mask="**********" maxlength="10" minlength="10" placeholder="XXXXXXXXXX"
        name="code" ngControl="code" [(ngModel)]="code" required></ion-input>
      <button ion-button icon-left (click)="activate(codeForm)" color="terciary" full>
        <ion-icon name="play"></ion-icon>
        Ativar
      </button>
    </form>
  </div>
  <div class="margin-10-pr" *ngIf="currentCode != null">
    <ion-grid>
      <ion-row>
        <span class="text-align-center w-100 margin-5-pr">
          {{currentCode.value}}
        </span>
      </ion-row>
      <ion-row>
        <ion-col>
          <strong>Ativado em:</strong>
          <br>
          {{currentCode.activationDate | date:'dd/MM/yy HH:mm:ss'}}
        </ion-col>
        <ion-col>
          <strong>Expira em:</strong>
          <br>
          {{currentCode.expirationDate | date:'dd/MM/yy HH:mm:ss'}}
        </ion-col>
      </ion-row>
    </ion-grid>

    <button ion-button icon-left (click)="deactivate()" color="danger" full>
      <ion-icon name="square"></ion-icon>
      Desativar
    </button>
  </div>
</ion-content>